[buildout]

extends =
	buildout-configs/base.odoo.cfg

parts =
    odoo

[odoo]
options.admin_passwd = admin
options.xmlrpc_port = 8069

eggs +=
    pyboleto
    num2words

addons +=
    git git@github.com:OCA/bank-payment.git addons/bank-payment 10.0
    git git@github.com:vonpupp/account-payment.git addons/account-payment 10.0-mig-account_due_list_payment_mode
